<div class='container'>
  <h1>My bookings</h1>

  <% @bookings.each do |booking| %>
    <div class="my-4 card-product">
      <div class="d-flex align-items-center">
        <%= cl_image_tag booking.soozie.photo.key %>
        <div class="card-product-infos">
          <h2><%= booking.soozie.first_name %></h2>
          <p>From <strong><%= booking.start_date.to_fs(:long_ordinal) %></strong> to <strong><%= booking.end_date.to_fs(:long_ordinal) %></strong></p>
          <div><strong><%= booking.duration_in_days %></strong> days</div>
        </div>
      </div>

      <div>
        <% if booking.validated? %>
          <p class='badge text-bg-success text-black'>Your booking is confirmed</p>
        <% else %>
          <p class='badge text-bg-secondary'>Your booking is pending</p>
        <% end %>
      </div>

    </div>
  <% end %>
</div>
