<h2 class = "profile">Create your Soozie profile</h2>
<div class="form-container">
<%= form_with model: @soozie do |form| %>
<div class="form-grid">

<div class="form-group">
    <%= form.label :profile_picture %>
    <%= form.file_field :profile_picture, class: "form-control w-100" %>
  </div>

  <div class="form-group">
    <%= form.label :eye_color %>
    <%= form.select :eye_color, options_for_select([['Blue', 'blue'], ['Green', 'green'], ['Brown', 'brown'], ['Hazel', 'hazel']]), {}, class: "form-control w-100" %>
  </div>

  <div class="form-group">
    <%= form.label :hair_color %>
    <%= form.select :hair_color, options_for_select([['Blonde', 'blonde'], ['Brown', 'brown'], ['Black', 'black'], ['Red', 'red'], ['Gray', 'gray']]), {}, class: "form-control w-100" %>
  </div>

  <div class="form-group">
    <%= form.label :height %>
    <%= form.select :height, options_for_select((140..200).step(5).map { |cm| ["#{cm} cm", cm] }), {}, class: "form-control w-100 " %>
  </div>

  <div class="form-group">
    <%= form.label :weight %>
    <%= form.select :weight, options_for_select((40..120).step(5).map { |kg| ["#{kg} kg", kg] }), {}, class: "form-control w-100" %>
  </div>

  <div class="form-group">
    <%= form.label :gender %>
    <%= form.select :gender, options_for_select([['Male', 'male'], ['Female', 'female'], ['Other', 'other']]), {}, class: "form-control w-100" %>
  </div>

  <div class="form-group">
    <%= form.label :price %>
    <%= form.select :price, options_for_select((50..350).step(10).map { |euro| ["#{euro} €", euro] }), {}, class: "form-control w-100" %>
  </div>

  <div class="form-group">
      <%= form.label :city %>
      <%= form.text_field :city , class: "form-city w-100" %>
    </div>
  </div>

  <div class="form-actions">
      <%= link_to "Back", root_path, class: "btn btn-secondary" %>
      <%= form.submit "Create Profile",  class: "btn btn-primary" %>
    </div>
<% end %>
</div>
