<div class='container'>
  <h1>My offers</h1>

  <%if @soozies.empty? %>
    <p><em>Add a new Soozie to offer their services.</em></p>
  <% end %>

  <% pending_requests = [] %>
  <% @soozies.each do |soozie| %>
    <% @bookings_soozie = Booking.where(soozie: soozie, validated: nil) %>
    <% pending_requests.push(@bookings_soozie) unless @bookings_soozie.empty? %>
  <% end %>

  <%if !@soozies.empty? && pending_requests.empty? %>
    <p><em>Your offers will appear here when a user chooses to book your Soozie.</em></p>
  <% end %>

  <% @soozies.each do |soozie| %>
    <% @bookings_soozie = Booking.where(soozie: soozie, validated: nil) %>
      <% unless @bookings_soozie.empty? %>
        <h2>Pending requests for <%= soozie.name %></h2>
        <% @bookings_soozie.each do |booking| %>
          <div class="my-4 card-product">
            <div class="d-flex align-items-center">
              <div class="card-product-infos">
                <h2><%= booking.soozie.name %></h2>
                <p>From <strong><%= booking.start_date.to_fs(:long_ordinal) %></strong> to <strong><%= booking.end_date.to_fs(:long_ordinal) %></strong></p>
                <div><strong><%= booking.duration_in_days %></strong> days</div>
              </div>
            </div>

            <div>
              <% if booking.validated? %>
                <p class='badge text-bg-success text-black'>You have accepted this booking</p>
              <% else %>
                <%= link_to "Accept booking", validate_booking_path(booking), data: { turbo_method: :patch }, class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
  <% end %>

    <% @soozies.each do |soozie| %>
      <% @bookings_soozie = Booking.where(soozie: soozie, validated: true) %>
      <% unless @bookings_soozie.empty? %>
        <h2>Accepted requests for <%= soozie.name %></h2>
        <% @bookings_soozie.each do |booking| %>
          <div class="my-4 card-product">
            <div class="d-flex align-items-center">
              <div class="card-product-infos">
                <h2><%= booking.soozie.name %></h2>
                <p>From <strong><%= booking.start_date.to_fs(:long_ordinal) %></strong> to <strong><%= booking.end_date.to_fs(:long_ordinal) %></strong></p>
                <div><strong><%= booking.duration_in_days %></strong> days</div>
              </div>
            </div>

            <div>
              <% if booking.validated? %>
                <p class='badge text-bg-success text-black'>You have accepted this booking</p>
              <% else %>
                <%= link_to "Accept booking", validate_booking_path(booking), data: { turbo_method: :patch }, class: "btn btn-primary" %>
              <% end %>
            </div>

          </div>
        <% end %>
      <% end %>
    <% end %>
</div>
